*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    
}
.container{
    width: 400px;
    text-align: center;
}
ul{
    background-color: beige;
    margin-top: 20px;
}
li{
    list-style: none;
    width: 100%;
    padding: 10px 0;
    display: flex;
    border: 1px solid grey;
}
input{
    width: 100%;
    padding: 10px 0;
}
.delete{
    cursor: pointer;
    color: red;
    font-size: 1.5em;
    font-weight: bold;
}